<div class="hand">
  <div class="playerInfo">
    <h3>Your hand:</h3>
    <p>score: <b>{{ player.score }}</b></p>
  </div>
  <ul>
    <li *ngFor="let card of player.hand" class="card {{ card.color }} {{ card.suit }} {{ card.name || 'value-' + card.value }}"><span>The {{ card.name || card.value }} of {{ card.suit }}</span></li>
  </ul>
</div>

<div class="fact" *ngIf="showFact">
  {{ fact }}
  <button (click)="showFact = false">x</button>
</div>

<app-controls (stick)="doStick()" (hit)="doHit()" (fact)="getFact()"></app-controls>
